<div class="showDate"></div>

<!-- <a href="https://www.linkedin.com/in/sweeseng/">
    <img class="icon" src="Resources/Linkedin Icon 50 x 50px.png">
</a> -->


<button class="contactSticky" id="email" onclick="EmailOnClick()"></button>
<button class="contactSticky" id="whatapps" onclick="WhatappsOnClick()"></button>
<button class="contactSticky" id="linkedin" onclick="LinkedinOnClick()""></button>
<button class="contactSticky" onclick="ContactButtonOnClick()"></button>


<script>
    var contactIcons = [ $(".contactSticky#email"),
                         $(".contactSticky#whatapps"),
                         $(".contactSticky#linkedin"), ];

    var year = new Date().getFullYear();

    $(".showDate").html(year + " by Swee Seng");


    ToggleContactIcons(false);

    function ToggleContactIcons(toggle)
    {
        contactIcons.forEach(function(element)
        {
            if(toggle == false)
            {
                element.slideUp();
            }
            else
            {
                element.slideDown();
            }
        });
    }

    function IsContactIconsHidden()
    {
        for(var i = 0; i < contactIcons.length; ++i)
        {
            if (!contactIcons[i].is(":hidden"))
            {
                return false;
            }
        }
        return true;
    }

    function ContactButtonOnClick()
    {
        ToggleContactIcons(IsContactIconsHidden());
    }

    function EmailOnClick()
    {
        window.open('mailto:sweeseng123@gmail.com?mailFrom');   
    }

    function WhatappsOnClick()
    {
        window.open("https://wa.me/6584992976");
    }

    function LinkedinOnClick()
    {
        window.open("https://www.linkedin.com/in/sweeseng/");
    }

</script>