

<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff"> -->


<p class="header_text">Swee Seng</p>

<ul class="navigation2">
	<li><a class="inactive" href="index.html">Home</a></li>
	<!-- <li><a id="inactive" href="single-post.html">Post</a></li> -->
	<li><a class="inactive" href="resume.html">Resume</a></li>
	<!-- <li><a id="inactive">About</a></li> -->
</ul>

<div class="overlay"></div>

<script>
	var currentMenu = sessionStorage.getItem("currentMenu");

	var overlayOption = sessionStorage.getItem("overlay");

	// Get all "li" element
	var nav = $(".navigation2");
	var navLists = $(".navigation2 li");

	var widthDelta = nav.width() / navLists.length;


	for(var i = 0; i < navLists.length; ++i)
	{
		var list = $(navLists[i]);

		list.css("width", widthDelta);

		if(list.children().first().text() == currentMenu)
		{
			list.children().first().attr("class", "active");
		}
		else
		{
			list.children().first().attr("class", "inactive");
		}
	}
</script>