:root
{
	--headerWidth: 700px;

	--bodyWidth: 900px;

	--postContainerVerticalPadding: 8px;
	--postContainerHorizontalPadding: 30px;
	--postContainerWidth: calc(var(--bodyWidth) - var(--postContainerHorizontalPadding) * 2);

	--mediaWidth: 600px;
	--mediaHeight: 420px;

	/* --previewBoxWidth: 800px; */
	--previewBoxPadding: 10px;

	--previewMediaWidth: 300px;
	--previewMediaHeight: 180px;

	--previewTextPaddingLeft: 5px;
	--previewTextPaddingRight: 5px;
	
	--greybackground: rgb(244, 244, 244);
}

/* @media only screen and ()
{

} */


/**** HEADER ****/

.header
{
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: var(--headerWidth);
	border: 2px solid black;
	padding: 5px;
}

.header_text
{
    text-align: center;
    display: block;
	margin: 0px;

	font-size: 100px;
}

/**** BODY ****/

body
{
	margin: 0;
	height: 100%;

	/* display: flex;
	flex-direction: column; */
}

.body,
.body_single_post
{
	width: var(--bodyWidth);
	height: auto;
	margin: auto;
	
}

.body_single_post
{
	background-color: var(--greybackground);
}

.body_resume
{
	text-align: center;
}

.body::before,
.body_single_post::before,
.body_resume::before
{
	content: "";
	display: block;
	margin-top: 10px;
}

.body::after,
.body_single_post::after,
.body_resume::after
{
	content: "";
	display: block;
	margin-bottom: 10px;
}

/**** FOOTER ****/

.footer
{
	/* position: fixed;
	display: block; */
	/* position: ; */
	
	/* left: 0;
	bottom: 0;
	width: 100%; */
	/* position: fixed; */
	width: 100%;
	height: 50px;
	/* background-color: blue; */
	color: white;
	text-align: center;
	/* flex-shrink: 0; */
	/* overflow: hidden; */
}

.footer .showDate
{
	/* color: red; */
	color: black;
}

.footer .icon
{
	width: 20px;
	height: 20px;
}

/* #post_container #id
{
} */

/**** Navigation ****/

#navigation_menu 
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: var(--headerWidth);
    /* Background Colour */
    /*background-color: red;*/
}

#navigation_menu_list 
{
    /* float: ; */
	/* display: inline; */
	/* display:; */
	float: left;
	display: inline-block;
}

#navigation_menu_list a 
{
    display: inline-block;
    color: black;
    text-align: right;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-right: 0px;
    text-decoration: none;
    width: 150px;
    /* Text Colour*/
    /*color: red;*/
}

/* On Hover */
#navigation_menu_list a:hover 
{
    /*background-color: #111;*/
    /*color:red;*/
}

/* On Pressed */
#navigation_menu_list a:active 
{
}

/* Highlight current page with the id 'active' */
#navigation_menu_list a#active 
{
    color:black;
}

#navigation_menu_list a#inactive 
{
    color:grey;
}


/* .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
} */

.navigation2
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	/* width: var(--headerWidth); */
	white-space: nowrap;
}

.navigation2 li
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.navigation2 li a
{
	/* text-align: center; */
	text-decoration: none;
}

.navigation2 li a.active
{
	color: black;
}

.navigation2 li a.inactive
{
	color: grey;
}


.displayTitle
{
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}

.displayDate
{
	margin: 0;
	font-size: 14px;
}

.displayMedia
{
	border: 0;
	height: 100%;
	margin: auto;
	padding-top: 20px;
}

.displayDescription
{
	margin: 0;
	font-size: 15px;
}

.displayDescription ul
{
	margin: 0;
}

/**** POST CONTAINER ****/
.post_container
{
	width: var(--postContainerWidth);

	margin: auto;
	padding: var(--postContainerVerticalPadding) var(--postContainerHorizontalPadding);
}

/**** Preview Box ****/

.previewBox_Container
{
	width: calc(var(--bodyWidth) - var(--previewBoxPadding) * 2);
	/* border: 1px solid red; */
	padding: var(--previewBoxPadding);

	/* margin: auto; */
	margin-bottom: 10px;

	background-color: var(--greybackground);
}

.previewBox_Container .displayTitle
{
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.previewBox_Container .displayDate
{
	font-size: 12px;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.previewBox_Container .displayMedia
{
	display: inline-block;
	width: var(--previewMediaWidth);
	height: var(--previewMediaHeight);
	border: 0;
	padding: 0;
	margin: 0;
}

.previewBox_Container .displayDescription
{
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	width: calc(100% - var(--previewMediaWidth) - var(--previewTextPaddingLeft) - var(--previewTextPaddingRight));
	border: 0;
	padding: 0;
	padding-left: var(--previewTextPaddingLeft);
	padding-right: var(--previewTextPaddingRight);
	margin: 0;	
}


.previewBox_Container .displayDescription:after
{
	/* content: '...'; */
    /* display: inline-block;
    width: 24px;
    height: 16px;
	margin-right: -24px; */
}

.previewBox_Container .readMore
{
		border: 1px solid black;
	background-color: transparent;

	width: 120px;
	height: 20px;
}

.previewBox_Container .readMore a
{
	text-decoration: none;
	color: black;
}

/**** PDF ***/
.displayPDF
{
	border: 1px solid black;

	width: 700px;
}

.downloadPDFContainer
{

}

.downloadPDFContainer img
{
	width: 100px;
	height: auto;
}

/**** Sticky Button ****/
.contactSticky
{
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	padding: 0;

	cursor: pointer; /* Add a mouse pointer on hover */

	background: none;
	background-image: url('../Resources/Contact/Contact Icon 256 x 256px.png');
	background-size: auto;

	width:40px; 
	height:40px; 
	border: 0;
	background-size: 100%;
}

.contactSticky#whatapps
{
	bottom: 80px;
	display: none;
	background-image: url("../Resources/Contact/Whatapps Icon 256 x 256px.png");
}

.contactSticky#email
{
	bottom: 140px;
	display: none;
	background-image: url("../Resources/Contact/Email Icon 256 x 256px.png");
}

.contactSticky#linkedin
{
	bottom: 200px;
	display: none;
	background-image: url("../Resources/Contact/Linkedin Icon 256 x 256px.png");
}

/**** Overlay ****/
.overlay
{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */

	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}